.content {
    
}

.content__section {
    position: relative;
}

.content__section-link_here {
    position: absolute;
    top: -128px;
}

.content__section-title {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
}

.content__section-descr {
    text-align: center;
    font-size: 18px;
    text-align: center;
    word-wrap: break-word;
}


// About Me Section
.content__about_me-section {
    margin-bottom: 198px;
}

.content__about_me-title {
    margin-bottom: 18px;
}


.content__skills-section {
    margin-bottom: 223px;
}

.content__skills-title {
    margin-bottom: 69px;
}

.content__skills-descr {
    margin-bottom: 83px;
}

.content__skills {
    display: flex;
    justify-content: space-between;
}

.content__skill {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content__skill-icon {
    height: 89px;
    max-width: 89px;
    margin-bottom: 24px;
}

.content__skill-name {
    font-size: 14px;
    color: $primaryLightColor;
    font-weight: bold;
    word-wrap: break-word;
    max-width: 89px;
    text-align: center;
    margin-bottom: 41px;
}

.content__skill-rating {
    margin-top: auto;
}

.content__skill-rating-icon {
    margin-right: 9px;
}
.content__skill-rating-icon:last-child { margin-right: 0; }


// Portfolio Section
.content__portfolio-section {
    margin-bottom: 210px;
}

.content__portfolio {
    margin-bottom: 99px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content__portfolio:last-child { margin-bottom: 0; }

.content__portfolio-title {
    margin-bottom: 47px;
}

.content__portfolio-img {
    margin-bottom: 45px;
    width: 100%;
}

.content__portfolio-descr {
    text-decoration: underline;
}
.content__portfolio-descr:hover {
    text-decoration: none;
}

// Contacts Section
.content__contacts-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 123px;
}

.content__contacts-title {
    margin-bottom: 20px;
}

.content__contacts-descr {
    margin-bottom: 30px;
}

.content__contacts-send_message-link {
    margin-bottom: 86px;
    color: white;
    font-size: 18px;
    padding: 10px 29px;
    border: none;
    background-color: $primaryColor;
    border-radius: 100px;
}
.content__contacts-send_message-link:hover {
    background-color: white;
    color: $primaryColor;
    border: 2px solid $primaryColor;
    padding: 8px 27px;
}

.content__contacts {
    margin-bottom: 46px;
    display: flex;
}

.content__contact-link {
    margin-right: 61px;
}
.content__contact-link:last-child {
    margin-right: 0;
}

.content__contact-icon {
    height: 40px;
}

.content__contacts-like_me_on {
    font-size: 14px;
    color: $primaryLightColor;
    text-align: center;
}