.nav {
    position: fixed;
    left: 0; right: 0; top: 0;
    z-index: 1;
}

.nav__container {
    border-bottom: 1px solid $primaryLightColor;
}

.nav__list {
    flex: 1;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    height: 88px;
}

.nav__item {
    
}

.nav__item-link {
    color: $primaryLightColor;
    font-size: 18px;
    font-weight: bold;
}
.nav__item-link--selected {
    color:$primaryColor;
}
.nav__item-link:hover {
    color: $primaryColor;
}


.nav--scrolled {
    background-color: $primaryColor;
}

.nav--scrolled .nav__container {
    border: none;
}

.nav--scrolled .nav__item-link {
    color: white;
    font-weight: 600;
}
.nav--scrolled .nav__item-link--selected {
    font-weight: bold;
}
.nav--scrolled .nav__item-link:hover {
    font-weight: bold;
}


@media screen and (max-width: 988px) {
    
}