@import 'fonts/Gilroy';
@import 'base/reset';
@import 'base/colors';
@import 'utils/animations';

* {
    font-family: 'Gilroy';
    font-weight: 600;
    line-height: 1.2;
    color: $primaryColor;
}

body {
    
}

img {
    width: auto;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

@import 'components/nav';
@import 'components/header';
@import 'components/content';