@import 'fonts/Gilroy';
@import 'base/reset';
@import 'base/colors';
@import 'utils/animations';

* {
    font-family: 'Gilroy';
    font-weight: 600;
    line-height: 1.2;
    color: $primaryColor;
}

img {
    width: auto;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}


.nav__close {
    display: none;
}


.menu__btn {
    display: none;
}


.nav, .header, .content {
    padding: 0 30px;
}

.home-link_here {
    position: absolute;
    top: 0;
}

@import 'components/nav';
@import 'components/header';
@import 'components/content';

@import 'media-queries/smartphone'